<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="">
        <img style="margin-top: -3px" src="../../../assets/logo.svg" width="24px" height="24px" alt="logo">
        App
    </a>

    <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a href="" class="nav-link">Inicio</a>
        <a href="" class="nav-link">Precios</a>
        <a href="" class="nav-link">Acerca De</a>
      </div>
    </div>
  </nav>
