/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto:wght@300;400&display=swap');

.footer {
  color: whitesmoke;
  position: fixed;
  bottom: 0;
  width: 100%;
}
