<div class="row justify-content-center mt-5 ml-4 mr-4 mb-0">

    <div class="col-6 col-lg-5 col-xl-4">
        <h1>*ngIf</h1>

        <div class="d-flex justify-content-start">
            <button (click)="flagMostrar = !flagMostrar; estadoBoton();" class="btn btn-secondary pl-4 pr-4 btn-sm rounded-pill mt-4 btn-hide">{{ textoBoton }} <i class="{{ tipoIcono }}"></i></button>
        </div>

        <div *ngIf="flagMostrar" class="card bg-light mt-3 border-0">
            <div style="border-bottom: 1px solid #108ea2; border-radius: 7px 7px 0 0" class="card-header bg-info text-white"><h5 class="m-0 title-card">{{ frase.autor }}</h5></div>
            <div style="border-radius: 0 0 7px 7px;" class="card-body bg-info text-light pt-2 pb-2 pl-3 pr-3">
              <p class="body-card m-0">{{ frase.mensaje }}</p>
            </div>
        </div>
    </div>


    <div class="col-6 col-lg-5 col-xl-4">
        <h1>*ngFor</h1>

        <ul class="list-group mt-4">
            <li *ngFor="let personaje of personajes; let i = index" class="list-group-item">
                <span style="font-size: 69%; position: relative; top: -1px;" class="badge badge-dark  mr-1">{{ i+1 }}</span>
                {{ personaje }}
            </li>
        </ul>

    </div>

</div>